.a{
    text-align: center;
    color: #ffcc00;
}
body{
        background-color: #a06d21;
        background-image: url(https://www.dulichhoanmy.com/Upload/Images/stories/vong_quanh_the_gioi/diem_den/diem_den_the_gioi/van_ly_truong_thanh_01.jpg) ;
        background-position:center;
        background-repeat:space;
        color: white;
    }